.mainbox2{
    width: 500px;
    height: 200px;
    border: 1px solid grey;
    margin: auto;
    /* padding: 50px; */
    margin-top: 20px;
    background-color: beige ;
    
}
#first{
    margin-left: 40%;
    border-radius: 0px;
    
}
#second{
    margin-left: 10%;
    
    border-radius: 10px;
}
#third{
    margin-left: 20%; 
    border-radius: 10px;
}
#fourth{
    margin-top: 30px;
    margin-left: 15%;
    width: 380px;
    border-radius: 10px;
}
#post{
    margin-top: 25px;
    margin-left: 50%;
}

